:host {
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url("~src/assets/image/bg-image.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
}

.blur {
  width: 100vw;
  height: 100vh;
  background-color: rgba(35, 187, 207, 0.85);
  position: absolute;
}

h2 {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin: 19px 0;
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    width: 240px;
  }
  .mat-raised-button {
    margin-top: 9px;
  }
  .mat-button, .mat-raised-button{
    min-width: 120px;
  }
  ::ng-deep .mat-form-field-flex {
    position: relative;
    .mat-form-field-suffix {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

.mat-icon {
  cursor: pointer;
  color: white;
}

::ng-deep .mat-input-element.mat-form-field-autofill-control.cdk-text-field-autofill-monitored {
  color: white!important;
  background-color: transparent!important;
}
